body {
  font-family: "Montserrat";
  margin: 0;
  background-color: #F0F3FC;
}
header {
  display: flex;
  height: 100px;
  background-image: url('../images/layered-waves-haikei.svg');
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: bold;
}

.logo h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.logo img {
  height: 60px;
}

.logo:hover {
  color: white;
}

/*Pruebas*/
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 20px;
}

.menu ul li a {
  color: white;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
}

.menu ul li a:hover {
  background-color: #0E2A47;
}

.menu ul li a#cierre:hover {
  color: #E40C7B;
  background-color: white;
}

.contenedor-mes{
  background-color:white; border-radius: 10px; border: 0.001px solid rgba(128, 128, 128, 0.3); margin-top: -8px; margin-left: 280px; margin-right: 280px; padding-top: 10px; padding-bottom: 10px; display: flex; justify-content: center; align-items: center; font-size: 20px; color: #1F77B4
}
.etiqueta-select{
  font-weight: bold; margin-right: 20px; color: #0E2A47;
}

input[type="date"]{
  /* background-color: #0E2A47 ;*/
  color: #0E2A47;
  font-weight: bold; 
  border: 2px solid;
  border-radius: 10px;
  border-color: #0E2A47;
  padding: 5px;
  padding-left: 40px;
  outline: #0E2A47;
}

input[type="month"]{
  /* background-color: #0E2A47 ;*/
  color: #0E2A47;
  font-weight: bold; 
  border: 2px solid;
  border-radius: 10px;
  border-color: #0E2A47;
  padding: 5px;
  outline: #0E2A47;
}

.calendar-picker-indicator{
  color: #0E2A47;
}
.consulta{
  background-color: white; color:#0E2A47; margin-left: 5px; margin-right: 200px; border-radius: 20px; font-weight: 800; border: 3px solid white; outline: none; padding: 2px 15px;
}
.consulta:hover{
  background-color: #0E2A47; color: white; 
}
.boton-reporte{
  border: 2px solid #1EAA96; background-color: white; color: #1EAA96; font-weight: bold; border-radius: 20px; padding: 2px 15px;
}
.boton-reporte:hover{
  background-color: #1EAA96; color: white;
}

.card{
  border: 0.001px solid rgba(128, 128, 128, 0.3);
  background-color: white;
  margin: 50px 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mi-grafica{
  margin: 20px; object-fit: cover;
}

/* 1519px ancho de mi pantalla*/
/* 1429px para que salga bien gráfica */

@media screen and (min-width: 1519px) {
  .cont{
    max-width: 1429px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
  }
}